BasedOnStyle: Microsoft
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
ColumnLimit: 100
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
